/*
* @Author: Japan Parikh
* @Date:   2019-05-24 20:59:01
* @Last Modified by:   Saurabh Mane
* @Last Modified time: 2019-07-10 08:05
*/
.display-4 {
  color: #8a8a8a !important;
  font-size: 35px;
}

#page-name {
  margin-right: 40px;
}

.serving-now-logo {
  width: 130px;
  height: 130px;
}

.grid-container {
  display: grid;
  grid-template-areas: 'logo right-content''logo addmealbtn ''current-meal current-meal''currentmeal-card currentmeal-card''pastmeal pastmeal''pastmeal-card pastmeal-card';
  grid-template-columns: repeat(auto-fit);
  grid-row-gap: 5px;
}

.card-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

#logo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-area: logo;
  grid-column-gap: 10px;
  padding: 40px;
}

#kitchen-name {
  grid-area: kitchen-name;
}

#currentmeal {
  grid-area: current-meal;
  margin-left: 40px;
  margin-top: 10px;
}

#currentmeal-card {

  display: grid;
  grid-area: currentmeal-card;
  grid-auto-rows: minmax(100px, auto);
  /* grid-column-gap: none; */
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

#pastmeal {
  grid-area: pastmeal;
  margin: 40px;
}

/* #pastmeal-card {
grid-area: pastmeal-card;
display: grid;
padding: 15px;
margin: 40px;
background-color: #cccccc;
grid-auto-rows: minmax(100px, auto);
} */

#pastmeal-card {
display: grid;
grid-area: pastmeal-card;
grid-auto-rows: minmax(100px, auto);
/* grid-column-gap: none; */
margin-top: 10px;
margin-left: 40px;
margin-right: 40px;
}

.add-meal-btn,
.kitchen-username-btn {
background: #a0050f;
border-radius: 25px;
border: 2px solid #ECEAEA;
color: #ECEAEA;
}

.add-meal-btn-div {
margin-left: 42%;
}

.meal-card {
min-height: 327px !important;
}

.meal-info {
min-height: 47px !important;
}

.kitchen-username {
cursor: text !important;
width: 150px;
height: 40px;
}

.quantity-no {
  background-color: #d4d4d5;
  color: white;
  text-align: center;
  padding: 5px;
  border: 0;
  height: 30px;
  width: 30px;
  margin-top: -204px;
  margin-left: -32px;
  border-radius: 25px;
  z-index: 100;
}

.form-control,
.name-of-meal input[type=text] {
color: rgb(104, 103, 103);
background: transparent;
font-style: italic;
text-align: center;
}

#option-items,
#edit-option-items,
#edit_meal_option1_qty,
#edit_meal_option2_qty,
#edit_meal_option3_qty,
#edit_meal_option4_qty,
#edit_meal_option5_qty,
#add_meal_option1_qty,
#add_meal_option2_qty,
#add_meal_option3_qty,
#add_meal_option4_qty,
#add_meal_option5_qty {
background: transparent;
border-radius: 25px;
border: 2px solid #ECEAEA;
}

#popup-mealname .ui .input {
min-width: 325px;
margin-left: 17%;
}

#popup-mealname .ui .input>input {
background: transparent;
border: 2px solid #ECEAEA;
border-radius: 25px;
}

.login-form {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

#form-bg {
    background-color: #CCCCCC;
    border-radius: 20px;
}

.modal-body .form-row {
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-table {
    border-collapse: separate;
    border-spacing: 30px 0;
    margin-left: 8%;
}

td {
    padding-top: 15px;
}

input.form-control {
    font-family: "Roboto", sans-serif;
    outline: 1;
    width: 100%;
    margin: 0 0 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.form-control-class {
    border-radius: 100px;
    background: transparent;
    border: 2px solid #ECEAEA;
}

.add-photo-btn {
    position: relative;
    margin-top: -3%;
    margin-left: -3%;
    width: 300px;
    background: #a0050f;
    border: 1px solid #ECEAEA;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 3.5%;
    cursor: pointer;
    width: 91%;
    height: auto;
}

.meal-container {
    margin-left: 12%;
}

#meal-id {
    margin-top: 8px;
}

#add_meal_price {
    margin-left: 85%;
    max-width: 40%;
}

#edit_meal_price {
    margin-left: 85%;
    max-width: 40%;
}

.post-meal-btn {
    background: #a0050f;
    border-radius: 15px;
    border: 2px solid #ECEAEA;
}

.name-of-meal {
    max-width: 65%;
    margin-left: 17%;
}

.navbar-default {
    background-color: dodgerblue;
    border-color: rosybrown;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar a {
    color: white;
}

.jga-toolbar {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.7;
    z-index: 1;
}

#add-new:hover #add-new-text {
    color: black;
}

#renew:hover #renew-text{
    color: black;
}

#add-new{
  color: gray;
  text-decoration: none !important;
}

#renew{
  color: gray;
  text-decoration: none !important;
}

.edit-img-preview {
    display: inline-block;
    vertical-align: middle;
}

.edit-img-meal img {
    width: 70%;
    height: 100%;
}

.edit-img-meal {
    margin-left: 8%;
}

.edit-img-meal .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #a0050f;
}


/* .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
} */

.edit-img-meal .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.edit-img-meal .btn: {
    background-color: #212529b8;
}

.edit-img-meal .btn:hover {
    background-color: #3e8e41;
}

.add-meal-img-btn .file {
    position: relative;
    overflow: hidden;
    margin-top: -10%;
    margin-left: 4.7%;
    width: 90%;
    height: 20%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #a0050f;
}

.add-meal-img-btn .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.add-meal-img-btn .btn:hover {
    background-color: #3e8e41
}
