/*
* @Author: Japan Parikh
* @Date:   2019-05-29 17:03:11
* @Last Modified by:   Japan Parikh
* @Last Modified time: 2019-05-29 17:09:41
*/
.item-title {
  font-size: 31px !important;
}
.display-4 {
  font-size: 35px;
}
.table-borderless td,
.table-borderless th {
  border: 0;
  border-top: 0 !important;
}

.page-header-title {
  color: #8a8a8a !important;
}

.border-gray {
  border-color: #dfdfdf !important;
}

.notes-box {
  width: 300px;
  height: 168px !important;
}

.order-item-box {
  overflow: auto;
}

.time-col {
  width: 120px;
}

.name-col {
  width: 180px;
}

.address-col {
  width: 200px;
}

.phone-col {
  width: 100px;
}

.orderbtn-col {
  width: 100px;
}
