/* created by Jeremy Manalo on July 29 2019 at 3:35:55 */

.description-input-box {
  height: 108px;
}

body {
 color: #00000080;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}
