<!DOCTYPE html>
<html>
<head>
  <!-- bootstrap-css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- bootstrap-js -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<style>
 		.card {
 			border:none;

 		}
 		.navbar {
 			background: #f5f5f5;
 		}

    .name_col {
      width: 300px;
    }

	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
			</div>

			<div class="col-10">
				<nav class="navbar justify-content-center">
					<a class="navbar-brand"><strong>Serving Now</strong></a>
				</nav>

				<br>

				<h2>Hello, KITCHEN NAME </h2>

				<div class="card">
					<div class="card-body">
            An order has been made by CUSTOMER. You can visit your Serving Now <a href="http://localhost:8080/kitchens/report"> vendor account </a> to view the full details.
					</div>
				</div>

				<br>

				<h4>Their Order</h4>

        <table class="table table-striped table-light">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th class="name_col" scope="col">Item Name</th>
              <th class="text-center" scope="col">Quantity</th>
              <th class="text-center"scope="col">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td class="name_col">Strawberries and hdsafoodjfaik;hdfjapskhfjwlka</td>
              <td class="text-center align-middle">5</td>
              <td class="text-center align-middle">$4.99</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class="name_col">Mangos</td>
              <td class="text-center align-middle">4</td>
              <td class="text-center align-middle">$3.99</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td class="name_col">Bananas</td>
              <td class="text-center align-middle">4</td>
              <td class="text-center align-middle">$2.99</td>
            </tr>
            <tr>
              <th colspan="2" scope="row">Total Amount (tax Included)</th>
              <td class="text-center align-middle"></td>
              <td class="text-center align-middle">$12.99</td>
            </tr>
          </tbody>
        </table>

				<br>

			</div>
	  </div>
	</div>
</body>
</html>
