{% extends "main.html" %} {% block content%}

  <head>
    <title>{{ kitchen_name }}</title>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- semantic-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- new bootstrap-css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- style sheet -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/register.css') }}">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- semantic-js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- bootstrap-js -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <!-- new-bootstrap-js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  </body>
    <div class="content-section">
      <div class="pr-4 pl-4 mr-4 ml-4">
        <div class="border-bottom mb-4 d-flex justify-content-between">  <!-- this is spacing below Join Today text -->
          <span class="display-4">Update Business</span>
        </div>
        <form method="post" action="" enctype="multipart/form-data">
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                {{ form.kitchenName.label(class="form-control-label") }}

                {% if form.kitchenName.errors %}
                  {{ form.kitchenName(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.kitchenName.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.kitchenName(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">   <!-- form group where we use the fields from the form we passed in -->
                {{ form.description.label(class="form-control-label") }}

                {% if form.description.errors %}
                  {{ form.description(cols="40", rows="5", class="description-input-box input-lg form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.description(cols="40", rows="5", class="description-input-box form-control form-control-lg") }}  <!-- passes in the username -->
                {% endif %}
              </div>
              <label> Accepting Hours </label>
              <div class="d-flex justify-content-between">
                {{ form.hidden_tag() }}

                {% if form.openTime.errors %}
                  {{ form.openTime(type="time", class="pr-0 form-control form-control-lg time-input-box is-invalid") }}
                {% else %}
                  {{ form.openTime(type="time", class="pr-0 form-control form-control-lg time-input-box")}}
                {% endif %}
              <span class="mt-2">
                to
              </span>
                {{ form.hidden_tag() }}
                {% if form.closeTime.errors %}
                  {{ form.closeTime(type="time", class="pr-0 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.closeTime(type="time", class="pr-0 form-control form-control-lg time-input-box")}}
                {% endif %}
              </div>
              <div style="display: block;" class="invalid-feedback">
                {% for error in form.openTime.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
              <label class="mt-4"> Delivering Hours </label>
              <div class="d-flex justify-content-between">
                {{ form.hidden_tag() }}
                {% if form.deliveryOpenTime.errors %}
                  {{ form.deliveryOpenTime(type="time", class="pr-0 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.deliveryOpenTime(type="time", class="pr-0 form-control form-control-lg time-input-box")}}
                {% endif %}
              <span class="mt-2">
                to
              </span>
                {{ form.hidden_tag() }}
                {% if form.deliveryCloseTime.errors %}
                  {{ form.deliveryCloseTime(type="time", class="pr-0 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.deliveryCloseTime(type="time", class="pr-0 form-control form-control-lg time-input-box")}}
                {% endif %}
              </div>
              <div style="display: block;" class="invalid-feedback">
                {% for error in form.deliveryOpenTime.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  {{ form.transport.label() }}
                  {% if form.transport.errors %}
                    {{ form.transport(class="pl-0", style="list-style: none;") }}
                    <div style="display: block;" class="invalid-feedback">
                      {% for error in form.transport.errors %}
                        {% if loop.index != 1 %}
                          <span>{{ error }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.transport(class="pl-0", style="list-style: none;") }}
                  {% endif %}
                </div>
                <div class="col-6">
                  {{ form.storage.label() }}
                  {% if form.storage.errors %}
                    {{ form.storage(class="pl-0", style="list-style: none;") }}
                    <div style="display: block;" class="invalid-feedback">
                      {% for error in form.storage.errors %}
                        {% if loop.index != 1 %}
                          <span>{{ error }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.storage(class="pl-0", style="list-style: none;") }}
                  {% endif %}
                </div>
                <div class="ml-4">
                  {{ form.cancellation.label() }}
                  {% if form.cancellation.errors %}
                    {{ form.cancellation(class="pl-0 is-invalid", style="list-style: none;") }}
                    <div style="display: block;" class="invalid-feedback">
                      {% for error in form.cancellation.errors %}
                        {% if loop.index != 1 %}
                          <span>{{ error }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.cancellation(class="pl-0", style="list-style: none;") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-sm">        <!-- posts the information to the same route in came in on -->
              {{ form.hidden_tag() }}            <!-- for security reasons -->
              <fieldset class="form-group">      <!-- adding other form fields.  This is Bootstrap -->
                <div class="form-group">   <!-- form group where we use the fields from the form we passed in -->
                  {{ form.firstName.label(class="form-control-label") }}  <!-- prints out the label from the username field.  Pass in form argument-->

                  {% if form.firstName.errors %}
                    {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.firstName.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.firstName(class="form-control form-control-lg") }}  <!-- passes in the username -->
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.lastName.label(class="form-control-label") }}

                  {% if form.lastName.errors %}
                    {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.lastName.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.lastName(class="form-control form-control-lg") }}
                  {% endif %}

                </div>
                <div class="form-group">
                  {{ form.phoneNumber.label(class="form-control-label") }}
                  {% if form.phoneNumber.errors %}
                    {{ form.phoneNumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.phoneNumber.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.phoneNumber(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.street.label(class="form-control-label") }}
                  {% if form.street.errors %}
                    {{ form.street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.street.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.street(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      {{ form.city.label(class="form-control-label") }}
                      {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.city(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      {{ form.state.label(class="form-control-label") }}
                      {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      {{ form.zipcode.label(class="form-control-label") }}
                      {% if form.zipcode.errors %}
                        {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.zipcode.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.zipcode(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm">                  <!-- this is a style section in main.css -->
              {{ form.hidden_tag() }}           <!-- for security reasons -->
              <fieldset class="form-group">
                <div class="form-group">
                  {{ form.kitchenImage.label }}
                  {{ form.kitchenImage(class="form-control-file") }}
                  {% if form.kitchenImage.errors %}
                    {% for error in form.kitchenImage.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.email.label(class="form-control-label") }}

                  {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </fieldset>
              <div class="mt-2 float-right form-group">
                {{ form.submit(class="btn btn-info") }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
{% endblock %}
