<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JavaScript  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous ">
    </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="{{ url_for('.static', filename='css/landing.css') }}" rel="stylesheet" />
    <title>Meal Ordering</title>
</head>

<body class="backgroundImgSetting">
    <div class="container container-class">
        <div class="row whole-view">
            <div class="col-4 login-class">
                <div class="form-class">
                    <form action="{{ url_for('login')}}">
                        <br><br><br><br><br><br><br>
                        <div class="button-class">
                            <button class="button btn btn-primary login-btn landing-button" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="align-middle image">
                <img src="{{ url_for('.static', filename='ServingNowLogo.png') }}" class="center-img">
            </div>
            <div class="col-4">
                <button type="button" class="button btn btn-primary regbtn" onclick="window.location.href='{{url_for('register')}}';">Register</button>
            </div>
        </div>
    </div>
</body>

</html>
