<!DOCTYPE html>
<html>
  <head>
    <title>{{ kitchen_name }}</title>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- semantic-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- style sheet -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/register.css') }}">
    <!-- jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="{{ url_for('.static', filename='js/register.js') }}"></script>
    <!-- semantic-js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <body>
    <div class="content-section">
      <nav class="navbar navbar-expand-lg navbar-light">
      </nav>
      <div class="container">
        <div class="border-bottom mb-4 d-flex justify-content-between">  <!-- this is spacing below Join Today text -->
          <span class="display-4">Registration</span>
          <span class="test-muted float-right pt-3 mt-3">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}"> Sign In</a>  <!--pass in name of function -->
          </span>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
          <div class="row">
            <div class="col-sm"><label> Order Accepting Hours </label>
              <div>{{form.isOpenMonday(id="Monday-box", class="mr-1")}}<label> Monday </label></div>
              <div id="Monday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursMonday.errors %}
                  {{ form.openHoursMonday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursMonday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursMonday.errors %}
                    {{ form.closeHoursMonday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursMonday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursMonday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>{{form.isOpenTuesday(id="Tuesday-box", class="mr-1")}}<label> Tuesday </label></div>
              <div id="Tuesday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursTuesday.errors %}
                  {{ form.openHoursTuesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursTuesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursTuesday.errors %}
                    {{ form.closeHoursTuesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursTuesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursTuesday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>{{form.isOpenWednesday(id="Wednesday-box", class="mr-1")}}<label> Wednesday </label></div>
              <div id="Wednesday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursWednesday.errors %}
                  {{ form.openHoursWednesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursWednesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursWednesday.errors %}
                    {{ form.closeHoursWednesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursWednesday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursWednesday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>{{form.isOpenThursday(id="Thursday-box", class="mr-1")}}<label> Thursday </label></div>
              <div id="Thursday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursThursday.errors %}
                  {{ form.openHoursThursday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursThursday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursThursday.errors %}
                    {{ form.closeHoursThursday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursThursday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursThursday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>{{form.isOpenFriday(id="Friday-box", class="mr-1")}}<label> Friday </label></div>
              <div id="Friday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursFriday.errors %}
                  {{ form.openHoursFriday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursFriday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursFriday.errors %}
                    {{ form.closeHoursFriday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursFriday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursFriday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>{{form.isOpenSaturday(id="Saturday-box", class="mr-1")}}<label> Saturday </label></div>
              <div id="Saturday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursSaturday.errors %}
                  {{ form.openHoursSaturday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursSaturday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursSaturday.errors %}
                    {{ form.closeHoursSaturday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursSaturday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursSaturday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div>{{form.isOpenSunday(id="Sunday-box", class="mr-1")}}<label> Sunday </label></div>
              <div id="Sunday">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.openHoursSunday.errors %}
                  {{ form.openHoursSunday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.openHoursSunday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.closeHoursSunday.errors %}
                    {{ form.closeHoursSunday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.closeHoursSunday(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.openHoursSunday.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <label class="mt-4"> Order Delivery Hours </label>
              <div>{{form.is24hrDelivery(id="delivery-24hr-box", class="mr-1")}}<label> {{ form.is24hrDelivery.label }} </label></div>
              <div id="delivery-time">
                <div class="d-flex justify-content-between time-input-field">
                {{ form.hidden_tag() }}
                {% if form.deliveryOpenTime.errors %}
                  {{ form.deliveryOpenTime(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                {% else %}
                  {{ form.deliveryOpenTime(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                {% endif %}
                <span class="mt-2">
                  to
                </span>
                  {{ form.hidden_tag() }}
                  {% if form.deliveryCloseTime.errors %}
                    {{ form.deliveryCloseTime(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box is-invalid")}}
                  {% else %}
                    {{ form.deliveryCloseTime(type="time", class="pr-0 pl-1 form-control form-control-lg time-input-box")}}
                  {% endif %}
                </div>
                <div class="d-block mt-0 invalid-feedback">
                  {% for error in form.deliveryOpenTime.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                {{ form.kitchenName.label(class="form-control-label") }}

                {% if form.kitchenName.errors %}
                  {{ form.kitchenName(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.kitchenName.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.kitchenName(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <div class="form-group">   <!-- form group where we use the fields from the form we passed in -->
                {{ form.description.label(class="form-control-label") }}  <!-- prints out the label from the username field.  Pass in form argument-->

                {% if form.description.errors %}
                  {{ form.description(cols="40", rows="5", class="description-input-box input-lg form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.description(cols="40", rows="5", class="description-input-box form-control form-control-lg") }}  <!-- passes in the username -->
                {% endif %}
              </div>
              <div class="row mt-4">
                <div class="col-6">
                  {{ form.transport.label() }}
                  {% if form.transport.errors %}
                    {{ form.transport(class="pl-0", style="list-style: none;") }}
                    <div style="display: block;" class="invalid-feedback">
                      {% for error in form.transport.errors %}
                        {% if loop.index != 1 %}
                          <span>{{ error }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.transport(class="pl-0", style="list-style: none;") }}
                  {% endif %}
                </div>
                <div class="col-6">
                  {{ form.storage.label() }}
                  {% if form.storage.errors %}
                    {{ form.storage(class="pl-0", style="list-style: none;") }}
                    <div style="display: block;" class="invalid-feedback">
                      {% for error in form.storage.errors %}
                        {% if loop.index != 1 %}
                          <span>{{ error }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.storage(class="pl-0", style="list-style: none;") }}
                  {% endif %}
                </div>
                <div class="ml-4">
                  {{ form.cancellation.label() }}
                  {% if form.cancellation.errors %}
                    {{ form.cancellation(class="pl-0 is-invalid", style="list-style: none;") }}
                    <div style="display: block;" class="invalid-feedback">
                      {% for error in form.cancellation.errors %}
                        {% if loop.index != 1 %}
                          <span>{{ error }}</span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.cancellation(class="pl-0", style="list-style: none;") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-sm">        <!-- posts the information to the same route in came in on -->
              {{ form.hidden_tag() }}            <!-- for security reasons -->
              <fieldset class="form-group">      <!-- adding other form fields.  This is Bootstrap -->
                <div class="form-group">   <!-- form group where we use the fields from the form we passed in -->
                  {{ form.firstName.label(class="form-control-label") }}  <!-- prints out the label from the username field.  Pass in form argument-->

                  {% if form.firstName.errors %}
                    {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.firstName.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.firstName(class="form-control form-control-lg") }}  <!-- passes in the username -->
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.lastName.label(class="form-control-label") }}

                  {% if form.lastName.errors %}
                    {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.lastName.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.lastName(class="form-control form-control-lg") }}
                  {% endif %}

                </div>
                <div class="form-group">
                  {{ form.phoneNumber.label(class="form-control-label") }}
                  {% if form.phoneNumber.errors %}
                    {{ form.phoneNumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.phoneNumber.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.phoneNumber(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.street.label(class="form-control-label") }}
                  {% if form.street.errors %}
                    {{ form.street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.street.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.street(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.city.label(class="form-control-label") }}
                  {% if form.city.errors %}
                    {{ form.city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.city.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.city(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col-5">
                    <div class="form-group">
                      {{ form.state.label(class="form-control-label") }}
                      {% if form.state.errors %}
                        {{ form.state(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.state.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.state(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="form-group">
                      {{ form.zipcode.label(class="form-control-label") }}
                      {% if form.zipcode.errors %}
                        {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.zipcode.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% else %}
                        {{ form.zipcode(class="form-control form-control-lg") }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm">                  <!-- this is a style section in main.css -->
              {{ form.hidden_tag() }}           <!-- for security reasons -->
              <fieldset class="form-group">
                <div class="form-group hidden">
                  {{ form.kitchenImage.label }}
                  <p class="border box-message">
                    *You can set a Business Image from the Settings Page once you are logged in
                  </p>
                </div>
                <div class="form-group">
                  {{ form.email.label(class="form-control-label") }}

                  {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}

                </div>
                <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form.verifyPassword.label(class="form-control-label") }}
                  {% if form.verifyPassword.errors %}
                    {{ form.verifyPassword(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.verifyPassword.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.verifyPassword(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </fieldset>
              <div class="mt-2 float-right form-group">
                {{ form.submit(class="btn btn-info") }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
