<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- jquery script -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- JavaScript  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous ">
  </script>
  <!-- semantic-css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- semantic-js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <!-- new-bootstrap-js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- new-bootstrap-css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- local css -->
  <link href="{{ url_for('.static', filename='css/registerCustomer.css') }}" rel="stylesheet" />

  <title>Meal Ordering</title>
</head>

<body>
  <div class="login-flash">
    <div class="col-md-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center in-middle">
    <div class="login-box">
      <form method = "POST" action="">        <!-- posts the information to the same route in came in on -->
        {{ form.hidden_tag() }}            <!-- for security reasons -->
        <fieldset class="form-group">      <!-- adding other form fields.  This is Bootstrap -->

          <img src="{{ url_for('.static', filename='images/landing-logo.png') }}" class="center-block" width="150px" height="150px">
          <div class="form-group">
            *{{ form.firstName.label(class="form-control-label") }}

            {% if form.firstName.errors %}
              {{ form.firstName(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.firstName.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.firstName(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            *{{ form.lastName.label(class="form-control-label") }}

            {% if form.lastName.errors %}
              {{ form.lastName(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.lastName.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.lastName(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            *{{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            *{{ form.phoneNumber.label(class="form-control-label") }}

            {% if form.phoneNumber.errors %}
              {{ form.phoneNumber(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.phoneNumber.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.phoneNumber(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            *{{ form.betaTester.label() }}
            {% if form.betaTester.errors %}
              {{ form.betaTester(class="pl-0", style="list-style: none;") }}
              <div style="display: block;" class="invalid-feedback">
                {% for error in form.betaTester.errors %}
                  {% if loop.index != 1 %}
                    <span>{{ error }}</span>
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
              {{ form.betaTester(class="pl-0", style="list-style: none;") }}
            {% endif %}
          </div>
          <div class="form-group">
            *{{ form.futureCustomer.label() }}
            {% if form.futureCustomer.errors %}
              {{ form.futureCustomer(class="pl-0", style="list-style: none;") }}
              <div style="display: block;" class="invalid-feedback">
                {% for error in form.futureCustomer.errors %}
                  {% if loop.index != 1 %}
                    <span>{{ error }}</span>
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
              {{ form.futureCustomer(class="pl-0", style="list-style: none;") }}
            {% endif %}
          </div>
        </fieldset>
        <p>
          *By clicking Submit you are agreeing to recieve emails and text messages from Serving Now.
        </p>
        <div class="form-group">
          {{ form.submit(class="btn btn-info") }}
        </div>
        <div class="form-group">
          {{ form.representative.label(class="form-control-label") }}
          *Not required if by self
          {% if form.representative.errors %}
            {{ form.representative(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.representative.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.representative(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="test-muted">
          Need to Go Back? <a class="ml-2" href="{{ url_for('home') }}"> Return to Home Page</a>  <!--pass in name of function -->
        </small>
      </div>
    </div>
  </div>
</body>

</html>
